.App {
  display:flex;
height: 200vh;
  width: 100vw;
  background-color: #fff;;
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-style: normal;
  margin-top: 0;

}

.logo{
  text-decoration: none;
  color:#06253C;
}